body{
	margin-right: 10%;
	margin-left: 10%;
}
h1 {
	text-size: 36px;
	text-align: center;
}
p {
	text-size: 24px;
	text-align: center;
}
#tufts {
	text-align: left;
	margin-left: 20px;
}
#homepic {
	width: 400px;
}
#rightcol {
	background-color: #74AFAD;
	position: fixed;
	top: 0;
	bottom: 0;
	right:0;
	left:93%;
}
#leftcol {
	background-color: #74AFAD;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 93%;
	left: 0;
}